<p-table
  [value]="dataSource()"
  styleClass="tbl-primeng"
  [rowHover]="rowHover()"
  [loading]="loading()"
  [rows]="rows() > 0 ? rows() : undefined"
  [totalRecords]="totalRecords()"
  [lazy]="lazy()"
  [paginator]="rows() > 0"
  (onLazyLoad)="lazyLoad.emit($event)"
>
  <ng-template pTemplate="header">
    <tr>
      @for (col of options(); track col.field ?? col.title) {
        <th [style.width]="col.width" [style.textAlign]="col.align ?? 'left'">
          {{ col.title }}
        </th>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row>
    <tr>
      @for (col of options(); track col.field ?? col.title) {
        <td [style.textAlign]="col.align ?? 'left'">

          @if (col.cellTpl) {
            <ng-container *ngTemplateOutlet="col.cellTpl; context: { $implicit: row, value: getValue(row, col.field) }" />
          } @else {
            @switch (col.type ?? 'text') {

              @case ('currency') {
                <span class="cf-valor">{{ formatCurrency(getValue(row, col.field)) }}</span>
              }

              @case ('tag') {
                <p-tag [value]="getTagLabel(col, row)" [severity]="getTagSeverity(col, row)" />
              }

              @case ('date') {
                {{ formatDate(getValue(row, col.field)) }}
              }

              @case ('actions') {
                <div class="acoes-row">
                  @for (action of col.actions ?? []; track action.event) {
                    @if (isVisible(action, row)) {
                      @if (action.isFileUpload) {
                        <label>
                          <p-button
                            [icon]="'pi ' + action.icon"
                            [text]="true"
                            [rounded]="true"
                            [severity]="action.severity ?? 'secondary'"
                            size="small"
                            [title]="action.title ?? ''"
                            [disabled]="isDisabled(action, row)"
                          />
                          <input
                            type="file"
                            [accept]="action.accept ?? '*'"
                            (change)="onFileChange($event, action.event, row)"
                            hidden
                          />
                        </label>
                      } @else {
                        <p-button
                          [icon]="'pi ' + action.icon"
                          [text]="true"
                          [rounded]="true"
                          [severity]="action.severity ?? 'secondary'"
                          size="small"
                          [title]="action.title ?? ''"
                          [disabled]="isDisabled(action, row)"
                          (onClick)="onAction(action.event, row)"
                        />
                      }
                    }
                  }
                </div>
              }

              @default {
                {{ getValue(row, col.field) }}
              }

            }
          }

        </td>
      }
    </tr>
  </ng-template>
</p-table>
